include pymead/examples/*.jmea
include pymead/icons/*.png
include pymead/icons/*.svg
include pymead/resources/*
include pymead/gui/*.json
include pymead/gui/gui_settings/themes/*.json
include pymead/gui/gui_settings/*.json
include pymead/gui/gui_settings/defaults/*.json
include pymead/gui/dialog_widgets/*.json
include pymead/resources/dejavu-fonts-ttf-2.37/*
include pymead/resources/dejavu-fonts-ttf-2.37/fontconfig/*
include pymead/resources/dejavu-fonts-ttf-2.37/ttf/*
include pymead/resources/cmcrameri/*
include pymead/tests/core_tests/*.jmea
include pymead/tests/misc_tests/ps_svg_pdf_conversion/*.ps
include pymead/tests/opt_tests/*.json
include pymead/tests/opt_tests/*.jmea
include pymead/tests/gui_tests/*.txt
include pymead/tests/gui_tests/*.json
include pymead/tests/gui_tests/data/iso_prop/*
include pymead/tests/gui_tests/data/iso_prop_test_0/*
include pymead/tests/gui_tests/data/analysis_temp_iso_prop/ga_airfoil_3/*
