html[data-theme="dark"] {
    --bs-body-bg: 33,37,41;
}

table.no-border-table td {
    border: none;
}

table.max-width-table {
    width: 500px;
    max-width: 100%;
}

.sd-tab-content figure.only-light, .sd-tab-content figure.only-dark {
    margin-bottom: auto;
}