pymoo==0.5.0
pydata-sphinx-theme
sphinx-design
numpy
scipy
shapely>=2.0
matplotlib
requests>=2.31
PyQt6
PyQt6-WebEngine
PyQt6-Frameless-Window
pyqtgraph
python-benedict
pandas
networkx
psutil
pytest>=7
pytest-qt
pynput
triangle
rust-nurbs>=0.23
